@import '../../scss/main';

.disabled, .disabled textarea {
  background-color: $color_paper !important;
  color: $color_default !important;
  border-color: $color_grey !important;
}

.error {
  color: $color_error;
}
