@import '../../scss/main';

.scrollbar {
  height: 100%;
  background-color: $color_light_bright;
  @include flexbox();
  @include flex-direction(column);

  &-component {
    @include flex-grow(1);
  }
}

.form-content {
  .label {
    width: 100%;
    padding: 16px 24px;
    padding-bottom: 0;
  }
}

.sidebar {
  &-content {
    padding: 23px 0 0 24px;
    width: 217px;
  }

  &-item {
    margin-top: 15px;
    margin-bottom: 20px;
    border-right: 2px solid transparent;
    cursor: pointer;
    @include transition();

    &:first-child {
      margin-top: 0;
    }

    &-active {
      border-color: $color_primary;
      color: $color_primary;
    }
  }
}

.separator {
  margin-top: 20px;
  font-size: 20px;
  padding: 16px 24px 0;
  border-top: 1px solid $color_table_border;

  &:first-of-type {
    border-top: 0;
    margin-top: 0;
  }
}

.error {
  color: $color_error;
  padding: 16px 24px;
  padding-bottom: 0;
}
