@import '../../scss/main';

$form-loader-icon_size: 32px;

.loader-icon {
  width: $form-loader-icon_size;
  height: $form-loader-icon_size;
  fill: $color_default;
}

.loader-overlay {
  z-index: 10;
}
