@import '../../scss/main';

.page {
  @include flexbox();
  @include flex-direction(column);
  height: 100%;

  .error {
    color: $color_error;
  }
}

.status {
  text-align: center;
  @include border-radius($default_border_radius);
  color: $color_paper;
  padding: 0 16px;

  &-registered {
    background-color: $color_secondary;
  }

  &-unregistered {
    background-color: $color_error;
  }
}
