@import '../../scss/main';
@import './variables';

/** Имитация работы верстки колонками для иконок в футере
*   в связи с тем, что стандартные Row и Col накладывались на таблицу
*/
$layout_margin: percentage(1 / 48);

.main-layout {
  min-height: 100vh;
  padding-left: $sidebar_width;
}

.page-content {
  margin: $header_height + 48px 0 20px;
  @include flexbox();
  @include flex-direction(column);

  .page-row {
    @include flexbox();
    @include flex-grow(1);
  }
}
