@import '../../scss/main';
@import './variables';

.sidebar {
  position: fixed;
  top: $header_height;
  left: 0;
  z-index: 1;
  width: $sidebar_width;
  height: calc(100% - #{$header_height});
  background-color: $color_light_bright;
}

.sidebar-box {
  padding: 38px 0 20px 15px;
}

.sidebar-items {
  list-style: none;
  padding-left: 0;
  li {
    padding-left: 0;
  }
}

.item {
  overflow: hidden;
  margin-bottom: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
  cursor: pointer;
  @include no-text-selection();
  border-right: 2px solid transparent;

  &-nested {
    border-right: 2px solid transparent;
    a {
      font-size: 12px;
      padding: 5px 10px;
    }

    &:first-of-type {
      margin-top: 10px;
    }
  }

  .loaded & {
    @include transition(250ms, ease-out, max-height);
  }

  &, a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    padding-right: 24px;
    width: 100%;
    display: inline-block;
    @include link() {
      color: $color_dark;
      text-decoration: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.placeholder {
    margin-bottom: 24px;
    height: 16px;
    background-color: $color_table_border;

    &:nth-child(3n) {
      width: 132px;
    }

    &:nth-child(3n+1) {
      width: 100px
    }

    &:nth-child(3n+2) {
      width: 160px;
    }
  }
}

.active {
  border-right-color: $color_primary;
  a {
    @include link() {
      color: $color_primary;
    }
  }
}

.group-icon {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  @include transform(rotate(90deg));
}
