@import '../../scss/main';

.page {
  @include flexbox();
  @include flex-direction(column);
  height: 100%;
}

.error {
  color: $color_error;
}

.footer-btn {
  margin-left: 24px;
}

.fullwidth {
  width: 100%;
}

.link {
  &-container {
    @include flexbox();
  }

  &-button {
    width: 100%;

    &:first-child {
      margin-right: 24px;
    }
  }
}
