@import '../../scss/main';
@import './FormWindowVariables';

.form {
  height: 90vh;
}

.header {
  @include border-radius($default_border_radius $default_border_radius 0 0);
  background-color: $color_light_bright;

  &-title {
    white-space: nowrap;
    font-size: 20px;
    color: $color_dark;
    padding: $form-default-vertical-padding $form-default-horizontal-padding;
  }
}

.sidebar {
  max-width: none !important;
  flex: none !important;
  width: auto !important;

  &.empty {
    width: 0 !important;
    min-width: 0 !important;
    flex-basis: 0 !important;
    padding: 0;
  }
}

.content {
  min-width: 390px;

  &-box {
    @include flexbox();
    border-top: 1px solid $color_table_border;
    border-bottom: 1px solid $color_table_border;
    margin-top: -1px;
  }

  //&.with-sidebar {
    background-color: $color_light_bright;
  //}
}

.footer {
  background-color: $color_light_bright;
  padding: $form-default-vertical-padding $form-default-horizontal-padding;
  text-align: right;
}

.error {
  color: $color_error;
  margin-bottom: 16px;
}
