@import '../../scss/main';

$filter_border_radius_size: 18px;
$more_button_width: 90px;

.wrapper {
  margin: 16px 0 8px;
}

.left{
  width: calc(100% - #{$more_button_width});
}

.filters-wrapper{
  overflow-y: hidden;
  max-height: 38px;
  transition: max-height 0.3s ease-in-out;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.item-wrapper {
  position: relative;
  margin-right: 16px;
  margin-bottom: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.item {
  overflow: hidden;
  padding: 4px 8px;
  min-width: 100px;
  max-width: 240px;
  border: 1px solid $color_grey;
  border-radius: $filter_border_radius_size;
  background-color: $color_paper;
  color: $color_default;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  user-select: none;
  @include box-shadow($box_shadow_light);
  @include transition();

  &:hover {
    border-color: $color_primary;
  }

  &.active {
    border-color: $color_primary;
    background: $color_primary;
    color: $color_paper;

    &:hover {
      border-color: $color_primary_deep_dark;
      background: $color_primary_deep_dark;
    }
  }
}

.more-btn {
  position: relative;
  overflow: hidden;
  min-width: $more_button_width;
  font-size: 14px;

  &.active {
    border-color: $color_primary;
    background: $color_primary;
    color: $color_paper;
  }
}

.hide-btn {
  min-width: $more_button_width;
  font-size: 14px;
}

@keyframes splash {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.filter-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 400px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(94, 94, 130, 0.25);
  animation: splash 1s normal forwards ease-in-out;
}

.filter-modal-close {
  animation: hide 1s normal forwards ease-in-out;
}

.filter-modal__header {
  margin: 0;
  padding: 16px 24px;
  color: #10162b;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}

.filter-modal__inner {
  padding: 16px 24px;
  border-top: 1px solid $color_table_border;
  border-bottom: 1px solid $color_table_border;
  background: $color_light_bright;
}

.filter-modal__footer {
  margin: 0;
  padding: 16px 24px;
}

.filter-modal__apply-btn {
  margin-left: 16px;
}

.inputs {
  width: 100%;
}

.inputs__item {
  margin-bottom: 8px;
  width: 47%;

  &:last-child {
    margin-bottom: 0;
  }
}

.daterange {
  margin: -16px -24px;
}

.datepicker-wrapper {
  padding: 16px;
  text-align: center;
}

.timepicker-panel {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-top: 1px solid $color_table_border;
}

.timepicker-inputs {
  display: flex;
  align-items: center;
}

.timepicker-wrapper {
  margin: 0 5px;
  max-width: 85px;
}
