@import '../../scss/main';

.empty-page-placeholder {
  width: 100%;
  min-height: 120px;
  line-height: 120px;
  background-color: $color_light_bright;
  @include middle();
  text-align: center;
}

.box {
  max-width: 500px;
  line-height: normal;
}

.text {
  color: $color_grey;
  line-height: 1.71;
}
